
// Colors
.btn .btn-primary{
    color: $primary;
}

.text-dark{
    color: $dark;
}

.text-teal{
    color: $teal;
}

.text-rust{
    color: $rust;
}

.text-light{
    color: $light;
}

.text-default{
    color: $default;
}

.text-info{
    color: $info;
}

.text-success{
    color: $success;
}

.text-warning{
    color: $warning;
}

.text-danger{
    color: $danger;
}

.text-muted{
    color: $muted;
}


// Backgrounds
.bg-primary{
    background-color: $primary;
}

.bg-dark{
    background-color: $dark;
}

.bg-teal{
    background-color: $teal;
}

.bg-rust{
    background-color: $rust;
}

.bg-light{
    background-color: $light;
}

.bg-default{
    background-color: $default;
}

.bg-info{
    background-color: $info;
}

.bg-success{
    background-color: $success;
}

.bg-warning{
    background-color: $warning;
}

.bg-danger{
    background-color: $danger;
}

.bg-muted{
    background-color: $muted;
}


































































