$primary: #158CC4!important;
$dark: #16406E!important;
$teal: #999333!important;
$rust: #FECB2E!important;
$light: #EDF2F8!important;

$default: #555555!important;
$info: #03A9F4!important;
$success: #4CAF50!important;
$warning: #FBC02D!important;
$danger: #F44336!important;
$muted: #999999!important;

$gray-20: #DDDDDD!important;
$gray-10: #EEEEEE!important;
