#nav-drawer{
    z-index: 998!important;
}

[data-region="drawer"] {
    width: 0px;
}
#page {
    margin-top: 89px;
}

body.drawer-open-left {
    margin-left: 0;
}


.no-overflow{
    overflow-wrap: break-word;
}


legend.ftoggler > a {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #555555;
}

#bottom-btn-container{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 15px 15px;
    box-shadow: 0 20px 115px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

#scancel, #sreturn{
    border: none;
    background: none;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #158CC4;
    margin-right: 35px;
}

#sdisplay{
    border: none;
    background: #2a91c3;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    margin-right: 35px;
    padding: 12px 22px;
    border-right: 5;
    border-radius: 30px !important;
}

.page-title{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 200%;
    color: #173F73;
}